* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 100%;
  height: auto;
  font-family: "Poppins", sans-serif;
}
/* Navbar header */
.main .navbar {
  width: 100%;
  height: 425px;
  position: relative;
  background-image: url("/assets/image/ourteam/bg_header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
}
.main .navbar .header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 1px rgb(255, 255, 255, 0.2);
}
.main .navbar .header .logo img {
  width: 340px;
  height: 90px;
  overflow: hidden;
}
.main .navbar .header .logo img:hover {
  cursor: pointer;
}
.main .navbar .header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main .navbar .header ul li:not(:last-child) {
  margin-right: 40px;
}
.main .navbar .header ul li {
  list-style-type: none;
  color: #fff;
}
.main .navbar .header ul li:nth-child(4) a {
  color: #f1b90c;
}
.main .navbar .header ul li:hover a {
  color: #f1b90c;
}
.main .navbar .header ul li a {
  text-decoration: none;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.main .navbar .header .call-us {
  width: 130px;
  height: 40px;
  border-radius: 20px;
  border: solid 2px #f1b90c;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

.main .navbar .header .call-us a {
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.main .navbar .header .call-us:hover {
  background-color: #fff;
}
.main .navbar .header .call-us:hover a {
  color: black;
}
.main .navbar h2 {
  font-size: 60px;
  color: #fff;
  letter-spacing: -2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* navbar */
.main .navbar_mobile {
  width: 100%;
  height: 90px;
  border-bottom: 0.5px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1000;
  display: none;
}
.main .navbar_mobile ul {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main .navbar_mobile ul li {
  list-style-type: none;
}

.main .navbar_mobile ul li a {
  text-decoration: none;
  font-size: 22px;
  color: #f1b90c;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.main .navbar_mobile ul li:not(:nth-child(4)) a {
  opacity: 0;
}
.main .navbar_mobile ul li:not(:nth-child(4)):hover a {
  opacity: 1;
}





/* Meet */
.main .meet {
  width: 100%;
  height: 1300px;
  text-align: center;
}
.main .meet h3 {
  font-size: 28px;
  font-weight: 700;
  padding-top: 100px;
  letter-spacing: -1px;
}
.main .meet > p {
  width: 620px;
  height: auto;
  margin: 0 auto;
  font-size: 22px;
  color: #666;
  padding: 20px;
}
.main .meet .members .list_member {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
}
.main .meet .members .list_member .item_member {
  width: 375px;
  height: 480px;
  border-radius: 15px 15px 0 0;
  background-color: #fff;
  margin: 0px 15px;
}
.main .meet .members .list_member .item_member img {
  width: 100%;
  height: 280px;
  border-radius: 15px 15px 0 0;
}
.main .meet .members .list_member .item_member h5 {
  font-size: 22px;
  font-weight: 800;
  padding-top: 40px;
}
.main .meet .members .list_member .item_member p {
  font-size: 12px;
  color: #ffc518;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 10px auto 20px;
}

.main .meet .members .list_member .item_member .icon_contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .meet .members .item_member .icon_contact .fa-brands {
  margin: 20px 10px;
  font-size: 18px;
  color: #ffc000;
}
.main .meet .item_member .icon_contact .fa-brands:hover {
  color: black;
}

 

/* Footer */
.footer {
  width: 100%;
  height: 75px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer .item_contact {
  margin: 20px auto;
}
.footer .item_contact .template {
  font-size: 18px;
}
.footer .item_contact .template a {
  text-decoration: none;
  color: #f1b90c;
}
.footer .item_contact i {
  font-size: 18px;
  color: #00aced;
  margin: auto 10px;
}
.footer .item_contact i:hover {
    color: #ffc000;
}

/* Moblie and Tablet width < 1024px */
@media screen and (max-width: 1023px) { 
  /* navbar */
  .main .header .logo img{
    display: none;
  }
  .main .header .call-us {
    display: none;
  }
  .main .header ul{
    width: 80%;
    margin: 0 auto;
  }
  .main .navbar h2 {
    width: 100%;
    font-size: 35px;
    text-align: center;
  }

  /* meet */
  .main .meet {
    width: 100%;
    height: auto;
  }
  .main .meet .members .list_member {
    width: 90%;
    height: auto;
    flex-direction: column;
  }
  .main .meet .members .list_member .item_member {
    width: 100%;
    margin: 20px auto;
  }

  /* footer */
  .footer {
    height: auto;
    flex-direction: column;
  }
  .footer .item_contact {
    margin: 10px auto;
  }
  .footer .item_contact .template {
    font-size: 16px;
  }
  .footer .item_contact i {
    font-size: 16px;
  }
} 
      /* Mobile Width < 740px */
 @media screen and (max-width: 739px) { 
  /* navbar */
  .main .navbar_mobile {
    display: block;
  }

  /* header */
   .main .header ul li a {
    display: none;
  }
   /* meet */
   .main .meet {
    width: 100%;
    height: auto;
  }
  .main .meet .members .list_member {
    width: 95%;
    height: auto;
    flex-direction: column;
  }
  .main .meet .members .list_member .item_member {
    width: 100%;
    margin: 20px auto;
  }
 }

/* Tablet width >= 740px and width < 1024px*/
 @media screen and (min-width: 740px) and (max-width: 1023px) { 
  /* header */
 
 } 
 /* PC  width >= 1024px*/
 @media screen and (min-width: 1024px) {
  /* header */
 } 
