* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 100%;
  height: auto;
}
/* Navbar header */
.main .header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ccc;
}
.main .header .logo img {
  width: 340px;
  height: 90px;
  overflow: hidden;
}
.main .header .logo img:hover {
  cursor: pointer;
}
.main .header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main .header ul li:not(:last-child) {
  margin-right: 40px;
}
.main .header ul li {
  list-style-type: none;
  color: #fff;
}
.main .header ul li:first-child a {
  color: #f1b90c;
}
.main .header ul li:hover a {
  color: #f1b90c;
}
.main .header ul li a {
  text-decoration: none;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  font-family: "Poppins", Poppins, san-serif;
}
.main .header .call-us {
  width: 130px;
  height: 40px;
  border-radius: 20px;
  border: solid 1px #fff;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  background-color: #ccc;
  text-transform: uppercase;
  cursor: pointer;
}
.main .header .call-us:hover {
  scale: 1.1;
}
.main .header .call-us a {
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-family: "Poppins", Poppins, san-serif;
}

/* slider header */
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  height: 780px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  width: 100%;
  height: 750px;
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.mySlides .text {
  color: #f2f2f2;
  position: absolute;
  bottom: 40%;
  left: 10%;
  width: 80%;
  text-align: left;
}
.mySlides .text h5 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: -3px;
}
.mySlides .text h4 {
  font-size: 80px;
  color: #ffc000;
  font-family: 'Kalam', cursive;
  font-size: 120px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -12px;
}
.mySlides .text p {
  font-size: 25px;

}
.mySlides img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
/* The dots/bullets/indicators */
.slideshow-container .dots {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-5%, -50%);
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 10;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.about-us {
  width: 100%;
  height: 1200px;
  position: relative;
  text-align: center;
}
.main .about-us .content_about__us .bgvideo {
  z-index: -1;
  width: 100%;
  height: 100%;
}
.main .about-us .content_about__us {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .about-us .content_about__us h4 {
  font-size: 60px;
  font-weight: 800;
  letter-spacing: -3px;
  margin-top: 30px;
}
.main .about-us .content_about__us p {
  width: 80%;
  margin: 30px auto 50px auto;
  font-size: 20px;
  line-height: 30px;
  color: #666666;
}
 