* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 100%;
  height: auto;
}
/* Navbar header */
.main .header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ccc;
}
.main .header .logo img {
  width: 340px;
  height: 90px;
  overflow: hidden;
}
.main .header .logo img:hover {
  cursor: pointer;
}
.main .header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main .header ul li:not(:last-child) {
  margin-right: 40px;
}
.main .header ul li {
  list-style-type: none;
  color: #fff;
}
.main .header ul li:first-child a {
  color: #f1b90c;
}
.main .header ul li:hover a {
  color: #f1b90c;
}
.main .header ul li a {
  text-decoration: none;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  font-family: "Poppins", Poppins, san-serif;
}
.main .header .call-us {
  width: 130px;
  height: 40px;
  border-radius: 20px;
  border: solid 1px #fff;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  background-color: #ccc;
  text-transform: uppercase;
  cursor: pointer;
}
.main .header .call-us:hover {
  scale: 1.1;
}
.main .header .call-us a {
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-family: "Poppins", Poppins, san-serif;
}

/* slider header */
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  height: 750px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  width: 100%;
  height: 100%;
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.mySlides .text {
  color: #f2f2f2;
  position: absolute;
  bottom: 40%;
  left: 10%;
  width: 80%;
  text-align: left;
}
.mySlides .text h5 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: -3px;
}
.mySlides .text h4 {
  font-size: 80px;
  color: #ffc000;
  font-family: "Kalam", cursive;
  font-size: 120px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -12px;
}
.mySlides .text p {
  font-size: 25px;
}
.mySlides img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
/* The dots/bullets/indicators */
.slideshow-container .dots {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -5%);
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 10;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.about-us {
  width: 100%;
  height: 900px;
  position: relative;
  text-align: center;
}
.main .about-us .bgvideo {
  width: 100%;
  height: 900px;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
}
.main .about-us .content_about__us {
  margin: 0 auto;
}
.main .about-us .content_about__us h4 {
  padding-top: 40px;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: -3px;
}
.main .about-us .content_about__us p {
  width: 60%;
  margin: 30px auto 50px auto;
  font-size: 20px;
  line-height: 30px;
  color: #666666;
}
.main .about-us .content_about__us .video_intro {
  object-fit: cover;
}

.enviroment_company {
  position: relative;
  width: 100%;
  height: 610px;
}
.enviroment_company img {
  width: 100%;
  height: 610px;
}
.enviroment_company .item_enviroment {
  width: 80%;
  height: 610px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.enviroment_company .item_enviroment .item {
  width: 20%;
  height: auto;
  text-align: center;
}
.enviroment_company .item_enviroment img {
  width: 60px;
  height: 60px;
}
.enviroment_company .item_enviroment .item h2 {
  font-size: 32px;
  color: #fff;
  margin: 20px auto;
  font-weight: 700;
  font-family: Poppins, sans-serif;
}
.enviroment_company .item_enviroment .item p {
  font-size: 18px;
  color: #b6b6cd;
  line-height: 25px;
}

.our_skill {
  width: 100%;
  height: 680px;
  font-family: Poppins, sans-serif;
}
.our_skill .bg_skill {
  width: 100%;
  height: 680px;
  background-image: url("/assets/image/bg_skill.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.our_skill .bg_skill h2 {
  text-align: center;
  font-size: 58px;
  font-weight: 750;
  padding: 70px 0 30px;
}
.our_skill .bg_skill > p {
  text-align: center;
  font-size: 18px;
  color: #666;
}
.our_skill .bg_skill .time_line {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 110px auto;
}

.our_skill .bg_skill .time_line .time p:first-child {
  font-size: 15px;
  color: #ffc103;
  letter-spacing: 2px;
}
.our_skill .bg_skill .time_line .time p:not(:first-child) {
  width: 75%;
  font-size: 25px;
  font-weight: 700;
  margin: 25px auto;
}
.our_skill .bg_skill .time_line .time p:not(:first-child):hover {
  color: #ffc103;
  cursor: pointer;
}

.service_offer {
  width: 100%;
  height: 680px;
  font-family: Poppins, sans-serif;
  background-image: url("/assets/image/bg_service.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  border-top: 1px solid #ccc;
}
.service_offer h2 {
  text-align: center;
  font-size: 58px;
  font-weight: 750;
  padding: 70px 0 30px;
}
.service_offer > p {
  text-align: center;
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}
.service_offer .service .list_service {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service_offer .service .list_service .item_service {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 45px auto;
  text-align: left;
}
.service_offer .service .list_service .item_service img {
  width: 60px;
  height: 60px;
  margin-right: 25px;
}
.service_offer .service .item_service .content_service h3 a {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  line-height: 24px;
}
.service_offer .service .item_service .content_service p {
  margin-top: 10px;
  font-size: 16px;
  color: #b6b6b6;
  line-height: 22px;
}
